.login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(black, .5);
    z-index: 2;

    .login {
        // width: 600px;
        // height: fit-content;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        background-color: #fff;
        border-radius: 20px;
        width: 33%;

        input {
            margin-bottom: 1.5rem;
            background: transparent;
            border-radius: 4px;
            font-size: .9375rem;
            border: 1px solid #CED4DA;
            font-weight: 400;
            min-height: 3.175rem;
            padding: 0.94rem 1.94rem;
            display: block;
            width: 100%;
            line-height: 1;
            color: #212529;
            appearance: none;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        input:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
        }

        button {
            padding: 1rem 3rem;
            line-height: 1.5;
            font-size: 0.875rem;
            font-weight: 400;
            border-radius: 15px;
            color: #fff;
            background-color: #4b4cac;
            border-color: #4b4cac;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            display: inline-block;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        button:focus {
            outline: 0;
            outline-offset: 0;
        }

        button:active:focus {
            box-shadow: 0 0 0 0.25rem rgba(102, 100, 184, 0.5);
        }

    }

    .login-error {
        display: block;
        color: rgb(220, 53, 69);
        margin-top: 10px;
        font-size: .9375rem;
        font-weight: 400;    
    }
    
}

// end login styles